.container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 64px;
  background-color: white;
  z-index: 100;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16.5px;
  background-color: #fff5de;
  border-radius: 5px;
  color: #ee8f00;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: -0.02;
  cursor: pointer;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.flexBoxWide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.link {
  color: #1b1b1b;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.02;
  cursor: pointer;
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 10px;
  }

  .flexBox {
    gap: 16px;
  }

  .flexBoxWide {
    gap: 24px;
  }

  .download {
    padding: 8px 12px;
    font-size: 14px;
  }

  .link {
    font-size: 14px;
  }
}
